body {
  font-family: Arial, sans-serif;
  background: #d3c524;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #1e293b;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #334155;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}
